
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	
	background-color: rgb(222, 220, 224);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: rgb(245, 239, 231);
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position: initial;
	background-color: 62B6B7;
	padding: 20px;

}
.right {
	position: initial;
	background-color: FEFCF3;
	padding: 20px;

}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
	margin-bottom: 30px;
}
.h2 {
	background-color: rgb(4, 96, 150);
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 15px;
  }

  img {
	border-radius: 50%;
  }
  a:hover   
      {   
         color: green;   
      }              

tr:nth-child(even) {background-color: #91D8E4;}
tr:nth-child(odd) {background-color: #EAFDFC;}
h2:hover{
	font-family: 'Trebuchet MS', sans-serif;
}
